---
import Head from "./SeoHead.astro"
// Props
export interface Props {
	/** Title of the page. */
	title: string
	/** Specific OpenGraph page title. */
	ogTitle?: string
	/** Description of the page. */
	description?: string
	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props

---

<html lang="en">
	
	<Head
title={title}
ogTitle={ogTitle}
description={description}
image={image}
disableIndexing={disableIndexing}
	/>


	<body class="min-h-screen flex flex-col w-full overflow-x-hidden">

		<main class="flex flex-1 flex-col h-[100%] w-full">
			<slot />
		</main>

		<script>
			// This is a hack to get vite-plugin-pwa to generate a sw.js file.
			// Do not remove this script tag.
		</script>
	</body>
</html>
